body{

}
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  @media only screen and (max-width: 600px) {
   
    }
  


#global

{

            width :100% ;

            padding :0px ;

}

 

#menu-gauche

{

            width :100% ;

}

 

#contenu

{

            width :100% ;

}

 

#sidebar-droite

{

            width :100% ;

}
.form-control{
  width: 200px;
}


.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}
 
ul > li{
  margin-left: 45px;
  font-weight: bolder;
  font-size: 14px;
  font-family: 'roboto',sans-serif;
}
.text{
  color: black;
